
<%=content_for :script do%>
	<%=javascript_include_tag 'lightview-2.7.1'%>
<%end%>

<%=content_for :style do%>
	<%=stylesheet_link_tag 'lightview'%>
<%end%>

<%=content_for :main do%>
<div id="photos">
	<h2>Photo Gallery</h2>

	
	<div>
	
		<a href="/images/lackey/lackey_poster_large.jpg" class="lightview" rel="gallery[photos]" title="The Lackey::movie"><img src="/images/lackey/lackey_poster.jpg"/></a>
		<a href="/images/lackey/lackey1_large.jpg" class="lightview" rel="gallery[photos]" title="The Lackey::movie"><img src="/images/lackey/lackey1.jpg"/></a>
		<a href="/images/lackey/lackey2_large.jpg" class="lightview" rel="gallery[photos]" title="The Lackey::movie"><img src="/images/lackey/lackey2.jpg"/></a>
		<a href="/images/lackey/lackey4_large.jpg" class="lightview" rel="gallery[photos]" title="The Lackey::movie"><img src="/images/lackey/lackey4.jpg"/></a>
		<a href="/images/lackey/lackey5_large.jpg" class="lightview" rel="gallery[photos]" title="The Lackey::movie"><img src="/images/lackey/lackey5.jpg"/></a>
		<a href="/images/lackey/lackey6_large.jpg" class="lightview" rel="gallery[photos]" title="The Lackey::movie"><img src="/images/lackey/lackey6.jpg"/></a>
		<a href="/images/lackey/Lackey_Shaun_and_Grundy_large.jpg" class="lightview" rel="gallery[photos]" title="The Lackey::movie"><img src="/images/lackey/Lackey_Shaun_and_Grundy.jpg"/></a>

		<a href="/images/fosters/fosters1_large.jpg" class="lightview" rel="gallery[photos]" title="Foster's::commercial"><img src="/images/fosters/fosters1.jpg" /></a>
		<a href="/images/fosters/fosters2_large.jpg" class="lightview" rel="gallery[photos]" title="Foster's::commercial"><img src="/images/fosters/fosters2.jpg" /></a>
			
		<a href="/images/batman/batman1_large.jpg" class="lightview" rel="gallery[photos]" title="Batman::movie"><img src="/images/batman/batman1.bmp" /></a>
		<a href="/images/batman/batman2_large.jpg" class="lightview" rel="gallery[photos]" title="Batman::movie"><img src="/images/batman/batman2.bmp" /></a>
		
		<a href="/images/deadliest_warrior/guy_warrior_1_large.jpg" class="lightview" rel="gallery[photos]" title="Deadliest Warrior::TV"><img src="/images/deadliest_warrior/guy_warrior_1.jpg" /></a>
		<a href="/images/deadliest_warrior/warrior2_large.jpg" class="lightview" rel="gallery[photos]" title="Deadliest Warrior::TV"><img src="/images/deadliest_warrior/warrior2.jpg" /></a>
		<a href="/images/deadliest_warrior/deadliest2_large.jpg" class="lightview" rel="gallery[photos]" title="Deadliest Warrior::TV"><img src="/images/deadliest_warrior/deadliest2.jpg" /></a>
		<a href="/images/deadliest_warrior/deadliest3_large.jpg" class="lightview" rel="gallery[photos]" title="Deadliest Warrior::TV"><img src="/images/deadliest_warrior/deadliest3.jpg" /></a>
		<a href="/images/deadliest_warrior/deadliest4_large.jpg" class="lightview" rel="gallery[photos]" title="Deadliest Warrior::TV"><img src="/images/deadliest_warrior/deadliest4.jpg" /></a>
		<a href="/images/deadliest_warrior/deadliest5_large.jpg" class="lightview" rel="gallery[photos]" title="Deadliest Warrior::TV"><img src="/images/deadliest_warrior/deadliest5.jpg" /></a>
		<a href="/images/deadliest_warrior/deadliest6_large.jpg" class="lightview" rel="gallery[photos]" title="Deadliest Warrior::TV"><img src="/images/deadliest_warrior/deadliest6.jpg" /></a>
		<a href="/images/deadliest_warrior/deadliest7_large.jpg" class="lightview" rel="gallery[photos]" title="Deadliest Warrior::TV"><img src="/images/deadliest_warrior/deadliest7.jpg" /></a>
		<a href="/images/deadliest_warrior/deadliest8_large.jpg" class="lightview" rel="gallery[photos]" title="Deadliest Warrior::TV"><img src="/images/deadliest_warrior/deadliest8.jpg" /></a>
		
		<a href="/images/verizon/verizon_ad_large.jpg" class="lightview" rel="gallery[photos]" title="Verizon::commercial"><img src="/images/verizon/verizon_ad.jpg" /></a>
		
		<a href="/images/shutter_island/shutter_island_large.jpg" class="lightview" rel="gallery[photos]" title="Shuttel Island::movie"><img src="/images/shutter_island/shutter_island.jpg" /></a>
		
	</div>

</div>
<%end%>
