<%=content_for :script do%>
	<%=javascript_include_tag 'lightview-2.7.1'%>
	
	<script type="text/javascript">
	
	$(document).observe('dom:loaded', function(){
			$$('div.q').each(function(ele){
					$(ele).down('span').observe('click', function(){
							
							$(this).siblings('p').each(function(p){p.toggle();});
							
					});
					$(ele).down('p').hide();
			});
	});
	
	</script>
<%end%>

<%=content_for :style do%>
	<%=stylesheet_link_tag 'lightview'%>
<%end%>

<%=content_for :main do%>
	<div id="about">
	
		<h2>TSF Training</h2>

		<h3><em>T</em>one, <em>S</em>hape &amp; <em>F</em>at Loss Training</h3>
		
		<p>Time Efficient Fitness: 30 minutes, twice a week for a NEW YOU!</p>
		
		<span class="quote">
			"We understand that time is of the utmost importance for the working person and housewife 
			looking to get in shape and stay in shape. That is why we have combined our specialized talents and 
			skills as leaders in the field of health and fitness, and created TSF Training!"</span>

		<div class="creators">
			<span>The de-facto "anywhere, anytime" fitness program, <br/>
			developed by World Champions Guy Grundy &amp; Mari Asp.</span>
			<div>
				<a href="/images/IMG_5111%20(v2).jpg" class="lightview" rel="gallery"><img src="/images/IMG_5111%20(v2).jpg" alt="Guy Grundy"/></a>
				<h2>
					<%=link_to training_resume_url do%>Guy Grundy<%end%>
				</h2>
			</div>
			<div>
				<%#=link_to training_resume_url do%>
					<a href="/images/mari/Mari-front-page-pic-overlay.png" class="lightview" rel="gallery"><img src="/images/mari/Mari-front-page-pic-overlay.png" alt="Mari Asp" /></a>
				<%#end%>
				<h2>
					<%#=link_to training_resume_url do%>Mari Asp<%#end%>
				</h2>
			</div>
		</div>
		
		<div>
			<span>The days of spending hour upon hour at the gym training are a thing of the past.</span>
			<p>Research has shown that intense, focused, specialized and directed workouts designed for specific needs and requirements
			are the way to achieve the look, feel and healthy lifestyle all men and women are searching for.<br/><br/>
			We have applied our 50 years of joint training experience as lifelong professional athletes and world-class trainers to perfect a system that utilizes 
			all muscle groups and functions to create the ultimate in time-efficient workouts that are designed for the regular person looking to maintain
			a healthy lifestyle and pleasing physique.</p>
		</div>
		
		<div>
			<span>Our system burns fat for up to 12 hours or more after ever session.</span>
			<p>Another benefit of our system is that once your metabolism has been stimulated, it continues to burn fat more effectively for up to 12 hours or more. 
			Your body will burn fat and unwanted calories while you continue your regular day!</p>
		</div>
		
		<div>
			<span>Equipment provided:</span>
			<p>Set of dumbbells varying from 1-5lbs</p>
		</div>
		
		<div>
			<span>Where can this system be performed?</span>
			<p>"Anywhere, anytime" is our motto. Our system can be performed anywhere due to its minimal equipment and space requirements. 
			The most used locations have been the home, office, beach and park.</p>
		</div>
		
		<div class="q">
			<span>&gt; Why does this system work?</span>
			<p>TSF Training system utilizes time-tested research from health and fitness field experts, as well as a wealth of experience and knowledge 
			acquired through years of training. Let us use our knowledge to get you into great shape, fast!</p>
		</div>
		
		<div class="q">
			<span>&gt; How hard must I train to see results?</span>
			<p>Great question! Everyone starts training at a level that they are comfortable with and 
			as we progress with the training we work with each individual to increase the workout intensity. 
			EACH person is different, and we as professional trainers are aware of this. The initial sessions will be easier
			than expected, as you will be learning the system and allowing your body to adjust to the new 
			exercises, movements, stretching and balancing activities that are employed with our program. We cater 
			to the individual, and will work to ensure the workouts are fun and enjoyable. No one wants to do
			something they don't enjoy. We make it fun to progress to the next level! In a nutshell, we
			work with your abilities and progress from there.
		</div>
		
		<div class="q">
			<span>&gt; How does the TSF Training system tone and shape muscle in such a short period of time?</span>
			<p>The TSF Training system works all your muscle groups, from your shoulders to your calves, in a rotation-based workout. Reaching 
			failure is the main reason why people cannot continue a workout. Our system rotates and varies all the muscle groups being used so 
			as to enable you to go from one muscle group to another. This enables you to continue to work at a higher and more efficient rate. 
			Our design concept is, "while one muscle works, the others rest and recover."</p>
		</div>
		
		<div class="q">
			<span>&gt; How does it burn fat while it is toning the muscle?</span>
			<p>You burn fat and calories as the workout is non-stop. Your heart rate is elevated for the duration of the workout. Statistically
			you burn the greatest amount of fat during an intense heart rate-elevating workout. You burn a high amount of calories which leads to
			a burning of and a reduction in fat stores. Our system maintains an elevated heart rate, while performing muscle shaping and toning exercises using small
			dumbbells or your own bodyweight.</p>
		</div>
		
		<br/><br/>
		
		<h3 class="center">TSF Training is the system of the future.</h3>
		<h3 class="center"><%=link_to 'Sign up now.', training_contact_url%></h3>
		
	</div>
<%end%>
