
<%if request.subdomain=='www'%>
	<ul>
		<li><%=link_to_unless_current 'news', news_url%></li>
		<li>-</li>
		<li><%=link_to_unless_current 'reel', reel_url%></li>
		<li>-</li>
		<li><%=link_to_unless_current 'bio', biography_url%></li>
		<li>-</li>
		<li><%=link_to_unless_current 'resume', resume_url%></li>
		<li>-</li>
		<li><%=link_to_unless_current 'photos', photos_url%></li>
		<li>-</li>
		<li><%=link_to_unless_current 'contact', contact_url%></li>
	</ul>
<%end%>

<%if request.subdomain=='training'%>
	<ul>
		<li><%=link_to_unless_current 'about', training_about_url%></li>
		<li>-</li>
		<li><%=link_to_unless_current 'rates', training_rates_url%></li>
		<li>-</li>
		<li><%=link_to_unless_current 'bio', training_biography_url%></li>
		<li>-</li>
		<li><%=link_to_unless_current 'resume', training_resume_url%><%#\u00E9%></li>
		<li>-</li>

		<%if ENV["RAILS_ENV"]=='development'%>
			<li><%=link_to_unless_current 'news', training_news_url%></li>
			<li>-</li>
			<li><%=link_to_unless_current 'consulting', training_consulting_url%></li>
			<li>-</li>
		<%end%>
		
		<li><%=link_to_unless_current 'contact', training_contact_url%></li>
	</ul>
<%end%>

<%if request.subdomain=='blog'%>
	<ul>
		<li><%=link_to_unless_current 'posts', blog_posts_url%></li>
		<li>-</li>
		
		<%if @current_user && @current_user.is_admin%>
		<li>
				<%=link_to 'new post', posts_new_url%>
		</li>
		<li>-</li>
		<%end%>
		
		<li>
				<%if @current_user%>
					<%=link_to 'logout', logout_url%>
				<%else%>
					<%=link_to 'login', login_url%>
				<%end%>
		</li>
	</ul>
<%end%>
