<div class="nav">
	<%if request.subdomain=='www'%>
		<ul>
			<li><%=link_to 'news', news_url%></li>
			<li><%=link_to 'reel', reel_url%></li>
			<li><%=link_to 'biography', biography_url%></li>
			<li><%=link_to 'resume', resume_url%></li>
			<li><%=link_to 'photo gallery', photos_url%></li>
			<li><%=link_to 'contact', contact_url%></li>
		</ul>
	<%end%>
	
	<%if request.subdomain=='training'%>
		
	<%end%>
	
	<%if request.subdomain=='blog'%>
	<ul>
		<li>
			<%if @current_user && @current_user.is_admin%>
				<%=link_to 'new post', posts_new_url%>
			<%end%>
		</li>
		
		<li>
				<%if @current_user%>
					<%=link_to 'logout', logout_url%>
				<%else%>
					<%=link_to 'login', login_url%>
				<%end%>
		</li>
	</ul>
	<%end%>
</div>
