
<%=content_for :title do%>
Grundy's Blog<%=@page_title.blank? ? "" : " - #{@page_title}"%>
<%end%>

<%=content_for :content do%>
<div class="yui3-u-2-3">
	<div class="content" id="main">
		<%==show_flash%>
		<%= yield :main%>
	</div>
</div>
<div class="yui3-u-1-3">
	<div class="content" id="sidebar">
		<%= render 'blog/shared/sidebar'%>
	</div>
</div>
<%end%>

<%= render :file=>'layouts/application'%>
