
<%=content_for :title do %>
	Guy Grundy - Actor <%=@page_title.blank? ? "" : "- #{@page_title}"%>
<%end%>

<%=content_for :content do %>
	<div class="yui3-u-1">
		<div class="content">
			<div id="page-title"><%=@page_title%></div>
			<%==show_flash%>
			<%= content_for?(:main) ? yield(:main) : yield%>
		</div>
	</div>
<%end%>

<%=render :file=>'layouts/application'%>
